---
import { Icon } from 'astro-icon/components';
import type { Brands as Props } from '~/types';

import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapperFooter from '~/components/ui/WidgetWrapperFooter.astro';
const {
  title = '',
  subtitle = '',
  tagline = '',
  icons = [],
  images = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapperFooter id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="flex flex-wrap justify-center gap-x-0 sm:gap-x-32 lg:gap-x-4">
    {icons && icons.map((icon) => <Icon name={icon} class="py-0 lg:py-0 w-12 h-auto mx-auto sm:mx-0 text-gray-500" />)}
    {
      images &&
        images.map(
          (image) =>
            image.src && (
              <div class="flex justify-center col-span-1 my-2 lg:my-4 py-1 px-2 dark:bg-gray-200">
                <Image src={image.src} alt={image.alt || ''} width={80} height={80}/>
              </div>
            )
        )
    }
  </div>
</WidgetWrapperFooter>
