---
import { Icon } from 'astro-icon/components';
import type { Brands as Props } from '~/types';

import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';

const {
  title = '',
  subtitle = '',
  tagline = '',
  icons = [],
  images = [],

} = Astro.props;
---

  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="flex flex-wrap justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24">
    {icons && icons.map((icon) => <Icon name={icon} class="py-3 lg:py-5 w-12 h-auto mx-auto sm:mx-0 text-gray-500" />)}
    {
      images &&
        images.map(
          (image) =>
            image.src && (
              <div class="whatsapp">
              <a href="https://www.youtube.com/" target="_blank"><Image src={image.src} alt={image.alt || ''} width={50} height={50} class="wpp_img"/></a>
              </div>
            )
        )
    }
  </div>

